body {
    font: 0.9em "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    background-color: #000;
}
main {
    margin-top:25px; 
    margin-left:25px;
    margin-right:80px;
    background-color:#333
}
.flex-onerow {
    display: flex;
    display: -webkit-flex;
    width: 75vw;
    font-size: 1.5em;
}
footer {
    margin-top: 2vw;
    padding: 1vw;
    width: 35vw;
    font-size: 1.2vw;
}
.flex-credits {
    display: flex;
}
p {
    padding-left: 3vw;
}
ul {
    font-size: 1.3em;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
li {
    float: left;
    padding-right: 1vw;
    margin-bottom: 10px;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 2vw 3.9vw;
    text-decoration: none;
    background-color: #500;
}
li a:hover {
    background-color: #900;
}
.current {
}
/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@font-face {
    font-family: 'polan';
    src: url('../vendor/polanwritings/PolanWritings.otf')
}
.polanfont {
    font-family: polan;
}